.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2e894f;
	color: #fff;
	height: 45px;
	width: 200px;
	font-size: 16px;
	border: 1px solid #939191;
	border-radius: 8px;
	padding: 10px;
	cursor: pointer;
}
.button:hover {
	background: #246c3e;
}
.button[disabled] {
	cursor: not-allowed;
	background: #aeacac;
}
